<!DOCTYPE html>
<html ng-app="calendar">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.css" />
	<style>
		/*.mainCalendarDiv
		{
			display: inline-block;
			outline: #D1E0E0 solid;
		}*/
		.individualEvent
		{
			margin-bottom: 8px;
            padding: 5px;
		}
		/*Colours for google calendar events as per google's style guidelines*/
		.redEvent
		{
			background-color: #DC2127;
		}
		.blueEvent
		{
			background-color: #A4BDFC;
            color: #edbd54;
		}
		.darkblueEvent
		{
			background-color: #5484ED;
		}
		.purEvent
		{
			background-color: #DBADFF;
		}
		.turqEvent
		{
			background-color: #7AE7BF;
		}
		.yelEvent
		{
			background-color: #FBD75B;
		}
		.greenEvent
		{
			background-color: #7AE7BF;
		}
		.darkgreenEvent
		{
			background-color: #51B749;
		}
		.orangeEvent
		{
			background-color: #FFB878;
		}
		.pinkEvent 
		{ 
			background-color: #FF887C;
		}
		.greyEvent 
		{ 
			background-color: #E1E1E1; 
		}
        .blackTxt
        {
            color:black;
        }
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script>
    "use strict";
	var calendar = angular.module('calendar', ['ngAnimate', 'ui.bootstrap']);
	calendar.controller('mainController', function ($scope, $http, $sce)
	{
        $scope.calAuth = true;
		$scope.getEvents=function(numEvents)
		{
			
			console.log("entered getEvents"+numEvents);
			$http.post('/nextEvents', JSON.stringify(
                {
                    numEvents: numEvents,
                    code: null
                })
            )
			.success(function(data)
			{
                console.dir(data);
				//var temp = data[0].auth;
				if (!data[0].auth)
				{
					$scope.calAuth = false;
				}
				else
				{
					data.splice(0, 1);//gets rid of first entry which isn't an event
					console.dir(data);
					
					$scope.events = data;
				}
				
				
			}).error(function(data){
				console.error("An error occured. Server returned: ");
				console.dir(data);
			});
		};
		$scope.setEventClass = function(colID)
		{
			var retStr = "";
			switch(colID)
			{
				case "1": 
					retStr = "blueEvent";
					break;
				case "2": 
					retStr = "greenEvent";
					break;
				case "3": 
					retStr = "purEvent";
					break;
				case "4": 
					retStr = "pinkEvent";
					break;
				case "5": 
					retStr = "yelEvent";
					break;
				case "6": 
					retStr = "orangeEvent";
					break;
				case "7": 
					retStr = "turqEvent";
					break;
				case "8": 
					retStr = "greyEvent";
					break;
				case "9": 
					retStr = "darkblueEvent";
					break;
				case "10": 
					retStr = "darkgreenEvent";
					break;
				case "11": 
					retStr = "redEvent";
					break;
				default: retStr = "";	
			}
			retStr += " individualEvent";
			return retStr;
		};
        
		$scope.createEvent = function()
        {
            $('#calendarModal').modal();
        };
        
        $scope.eventFromTime = new Date();
        $scope.eventUntilTime = new Date(new Date().getTime()+60*60*1000);//adds an hour from now
        $scope.eventFromDate = new Date();
        $scope.eventUntilDate = new Date();
        
        $scope.chooseDateFromPopup = {
            opened: false
        };
        $scope.chooseDateUntilPopup = {
            opened: false
        };
        $scope.chooseDate = function(popup) {
            if (popup === "From") $scope.chooseDateFromPopup.opened = true;
            else if (popup === "Until") $scope.chooseDateUntilPopup.opened = true;
        };
        $scope.validateNewEvent = function()
        {
            try
            {
                var from = $scope.eventFromDate;
                from.setHours( $scope.eventFromTime.getHours() );
                from.setMinutes( $scope.eventFromTime.getMinutes() );
                
                var until = $scope.eventUntilDate;
                until.setHours( $scope.eventUntilTime.getHours() );
                until.setMinutes( $scope.eventUntilTime.getMinutes() );

                if(from > until)
                {
                    console.log("Not good");
                    document.getElementById("chooseDateSpan").classList.add("has-error");
                    document.getElementById("saveEventBtn").disabled = true;
                }
                else 
                {
                    document.getElementById("chooseDateSpan").classList.remove("has-error");
                    document.getElementById("saveEventBtn").disabled = false;
                }
                
            }
            catch(err)
            {
                console.warn(err);
                document.getElementById("chooseDateSpan").classList.add("has-error");
                document.getElementById("saveEventBtn").disabled = true;
            }
        };
        
        $scope.saveEvent =function()
        {
            //var location = document.getElementById("")
            
            var from = $scope.eventFromDate;
            from.setHours( $scope.eventFromTime.getHours() );
            from.setMinutes( $scope.eventFromTime.getMinutes() );
            
            var until = $scope.eventUntilDate;
            until.setHours( $scope.eventUntilTime.getHours() );
            until.setMinutes( $scope.eventUntilTime.getMinutes() );

            $http.post('/saveEvent', JSON.stringify(
                {
                    from: from,
                    until: until,
                    summary: $scope.eventSummary,
                    location: $scope.eventLocation
                })
            )
            .success(function(data)
            {
                console.log("added successfully");
                console.dir(data);
                $scope.getEvents($scope.events.length);//refreshes the calendar
                $scope.eventAddError = false;
                $scope.eventAddSuccess = true;
                
            }).error(function(data){
                console.error("An error occured. Server returned: ");
                console.dir(data);
                $scope.eventAddSuccess = false;
                $scope.eventAddError = true;
            });
        };
	});
	
	</script>
</head>
<body ng-controller="mainController" class="container-fluid">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-primary" ng-init="getEvents(5)">
            <div class="panel-heading">
                <h3 class="panel-title">Calendar
                    <span class="glyphicon glyphicon-remove pull-right"></span>
                    <span class="glyphicon glyphicon-resize-small pull-right">&nbsp;</span>
                    <span class="glyphicon glyphicon-repeat pull-right" ng-click="getEvents(events.length)">&nbsp;</span>
                    <span class="glyphicon glyphicon-pencil pull-right" ng-click="createEvent()">&nbsp;</span>
                </h3>
            </div>
            <div class="panel-body panel-group">
                <div class="alert alert-warning" ng-hide="calAuth">
                    <strong>Log in with Google</strong>
                </div>
                <div ng-repeat="event in events | orderBy: 'start' "> <!---->
                    <div class="panel panel-default" >
                        <div class="panel-body" ng-class="setEventClass(event.colorID)">
                            <div><strong><a class="blackTxt" ng-href="{{ event.link }}" target="_blank">{{ event.description}}</a></strong></div>
                            <span>{{ event.start | date:'HH:mm EEE d MMM'}}</span><br>
                            <span>for {{ event.diff }} minutes</span>
                            
                            <span ng-hide=!(event.location) >in {{ event.location }}</span>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <span class="text-center" id="loadMoreEventsButton" ng-click="getEvents(events.length +5-0)" ng-hide="events === undefined">
                        <span class="btn btn-xs btn-default"> Load More <span class="glyphicon glyphicon-refresh"></span></span>
                    </span>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="calendarModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button btn-xs" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Create Event</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div>
                                <label for="summary" class="control-label">Summary:</label>
                                <input type="text" ng-model="eventSummary" class="form-control" id="calendarSummary">
                            </div>
                            
                            <br>
                            <span id="chooseDateSpan" class="">
                                <div class="col-md-6">
                                    <div class="well well-sm">
                                        <label for="From" class="control-label">From:</label>
                                        <uib-timepicker ng-model="eventFromTime" ng-change="validateNewEvent()" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
                                        <span class="input-group">
                                            <input type="text" class="form-control" ng-model="eventFromDate" ng-change="validateNewEvent()"uib-datepicker-popup="MMMM dd, yyyy" is-open="chooseDateFromPopup.opened"  ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="chooseDate('From')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="well well-sm">
                                        <label for="Until" class="control-label">Until:</label>
                                        <uib-timepicker ng-model="eventUntilTime" ng-change="validateNewEvent()" hour-step="1" minute-step="5" show-meridian="true"></uib-timepicker>
                                        <span class="input-group">
                                            <input type="text" class="form-control" ng-model="eventUntilDate" ng-change="validateNewEvent()" uib-datepicker-popup="MMMM dd, yyyy" is-open="chooseDateUntilPopup.opened"  ng-required="true" close-text="Close" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="chooseDate('Until')"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </span>
                            
                            <div>
                                <label for="location" class="control-label">Location:</label>
                                <input type="text" ng-model="eventLocation" class="form-control" id="calendarLocation">
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <button id="saveEventBtn" type="button" class="btn btn-primary" ng-click="saveEvent()">
                        Add to Calendar <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
                
                <div class="alert alert-dismissible alert-success fade in hideAlert" id="eventAddSuccess" ng-show="eventAddSuccess">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    The event was added successfully
                </div>
                <div class="alert alert-dismissible alert-danger fade in hideAlert" id="eventAddError" ng-show="eventAddError">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Error: The event could not be added.
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>