<!DOCTYPE html>
<html ng-app="myemail">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.css" />
    <style>
        .starredEmail {
            color: #FBD75B !important;
        }
        
        .unreadEmail {
            font-weight: bold !important;
        }
        #emailSentSuccess
        {
            display: none;
        }
        .hideAlert
        {
            display: none;
        }
        .accordion-toggle:focus
        {
            outline: none;
        }
        .accordion-toggle 
        {
            cursor: pointer;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script>
    var calendar = angular.module('myemail', ['ngAnimate','ui.bootstrap']);
	calendar.controller('mainController', function ($scope, $http)
	{
		$scope.getEmails=function(numEmails)
		{
			console.log("entered getEmails");
			$scope.emailAuth = true;//to hide the button
			$http.post('/nextEmails', JSON.stringify({maxResults: numEmails, code: null}))
			.success(function(data)
			{
                var emails = [];
                var errCnt = 0;
                if (!data[0].auth)
                {
                    prompt("no",data[0].link);
                    //TODO testing, won't use in actual version
                }
                data.splice(0, 1);
                for( var i = 0; i < data.length; i++)
                {
                    console.dir(data[i]);
                    var tempObject = {};
                    tempObject.snippet = data[i].snippet;
                    tempObject.id = data[i].id;
                    tempObject.url = "https://mail.google.com/mail/u/0/#inbox/"+tempObject.id;
                    tempObject.unixTime = data[i].internalDate;//in milliseconds
                    var from =  parseEmailHeaders(data[i], "From");
                    tempObject.senderName = getEmailName(from);
                    tempObject.senderEmail = getSendersEmail(from);
                    tempObject.subject = parseEmailHeaders(data[i], "Subject");
                    tempObject.unread = isInArray("UNREAD", data[i].labelIds);
                    tempObject.star = isInArray("STARRED", data[i].labelIds);
                    tempObject.important = isInArray("IMPORTANT", data[i].labelIds);
                    //tempObject.date = parseEmailHeaders(data[i], "Date"); Unix time is preferable...
                    //tempObject.returnPath = parseEmailHeaders(data[i], "Return-Path"); Buggy
                    
                    if (data[i].payload.parts === undefined)
                    {
                        if (data[i].payload.body.data !== undefined)
                        {
                            if (data[i].payload.mimeType === "text/html")
                            {// 10/100 only have a HTML version
                                tempObject.content = tempObject.snippet + "There is no text version of the rest of this email. ";
                                errCnt++;
                            }
                            else
                            {
                                try{// 2/100
                                    tempObject.content = (b64_to_utf8(data[i].payload.body.data));
                                }
                                catch(err)
                                {// 1/100 was caught id:151d03bf2aff6e69
                                    tempObject.content = tempObject.snippet + "... We cannot parse the remainder of this email. ";
                                    errCnt++;
                                }
                            }
                        }
                        else
                        {// 0/100 
                            tempObject.content = tempObject.snippet + "... We cannot parse the remainder of this email. ";
                            errCnt++;
                        }
                    }
                    else
                    {
                        if (data[i].payload.parts[0].body.data === undefined)
                        {
                            try{// 36/100 tried
                                tempObject.content = b64_to_utf8(data[i].payload.parts[0].parts[0].body.data);
                            }
                            catch(err)
                            {// 28/100 were caught
                                tempObject.content = tempObject.snippet + "... We cannot parse the remainder of this email. ";
                                errCnt++
                            }
                        }
                        else
                        {
                            try{// 52/100 tried
                                tempObject.content = b64_to_utf8(data[i].payload.parts[0].body.data);
                            }
                            catch(err)
                            {// 32/100 were caught
                                tempObject.content = tempObject.snippet + "... We cannot parse the remainder of this email. ";
                                errCnt++;
                            }
                        }
                    }
                    emails.push(tempObject);
                    //console.dir(data[i].payload);
                }
                //console.log(errCnt);
                $scope.emails = emails;
                document.getElementById("loadMoreEmailsButton").className="text-centre show";
                
			}).error(function(data){
				console.error("An error occured. Server returned: ");
				console.dir(data);
			});
		};
        
        $scope.getEmailStyle = function(email)
        {
            var style ="";
            if (email.unread === true) style+= " unreadEmail";
            return style;
        }
        $scope.readEmail = function(email)
        {
            if(email.unread === true)
            {
                email.unread = false;
                $http.post('/modifyEmails', JSON.stringify(
                    {
                        id: email.id,
                        status: "UNREAD",
                        add: false,
                    })
                )
                .success(function(data)
                {
                    console.log("successs");
                }).error(function(data){
                    console.error("An error occured. Server returned: ");
                    console.dir(data);
                });
            }
            
        }
        $scope.setEmailStar = function(email)
        {
            email.star =!email.star;//changes the local email's star first

            $http.post('/modifyEmails', JSON.stringify(
                {
                    id: email.id,
                    status: "STARRED",
                    add: email.star,//if the email has just been starred it's starred label should be added
                })
            )
            .success(function(data)
            {
                console.log("successs");
                console.dir(data);
            }).error(function(data){
                console.error("An error occured. Server returned: ");
                console.dir(data);
            });
        }
        $scope.getEmailStar = function(email)
        {
            style = "glyphicon";
            if(email.star === true) style+= " glyphicon-star starredEmail"
            else style+= " glyphicon-star-empty"
            return style;
        }
        $scope.composeEmail= function (to, subject, message)
        {
            $("#emailTo").val(to);
            $("#emailSubject").val(subject);
            $("#emailMessage").val(message);
            $('#emailModal').modal();
        }
        $scope.sendEmail=function()
        {
            var to = document.getElementById("emailTo").value;
            var sub = document.getElementById("emailSubject").value;
            var mes = document.getElementById("emailMessage").value;
            //TODO send to server
            
            $http.post('/sendEmail', JSON.stringify(
                {
                    to: to,
                    subject : sub,
                    message: mes
                })
            )
            .success(function(data)
            {
                console.dir(data);
                console.log("successfully sent");
                $('#emailSentError').hide();
                $('#emailSentSuccess').show();
            }).error(function(data){
                console.error("An error occured. Server returned: ");
                console.dir(data);
                $('#emailSentError').show();
            });
            
            //http://stackoverflow.com/questions/25207217/failed-sending-mail-through-google-api-in-nodejs
        }
	});
	
    function parseEmailHeaders(email, target)
    {
        for(var i =0; i < email.payload.headers.length; i++)
        {
            if (email.payload.headers[i].name === target) return email.payload.headers[i].value;
        }
        return null;
    }
    
    function isInArray(target, array)
    {
        if (array.indexOf(target) === -1) return false;
        else return true;
    }
    
    function b64_to_utf8( str ) 
    {
        return atob(str);//71 errors
        //return decodeURIComponent(window.atob(str));//77 errors
        //return decodeURIComponent(escape(window.atob(str)));//71 errors
        //return decodeURIComponent(encodeURIComponent(window.atob(str)));//71 errors
    }
    function getEmailName(from)
    {
        if (from.indexOf("<") < 1) return from;//no name there, use email
        else
        {
            var name;
            name = from.slice(0, from.indexOf("<"));
            return name.replace(/"/g, "");
        }
    }
    function getSendersEmail(from)
    {
        if (from.indexOf("<") < 1) return from;//no name there, just email 
        else
        {
            var email;
            email = from.slice(from.indexOf("<")+1, from.length-1);
            return email.replace(/ /g, "");
        }
    }
    
    
    </script>
</head>

<body ng-controller="mainController">
    <div class="container">
        <div class="col-md-6">
            <div class="panel panel-primary" ng-init="getEmails(10)">
                <div class="panel-heading">
                    <h3 class="panel-title">Gmail Inbox
                        <span class="glyphicon glyphicon-remove pull-right"></span>
                        <span class="glyphicon glyphicon-resize-small pull-right">&nbsp;</span>
                        <span class="glyphicon glyphicon-repeat pull-right" ng-click="getEmails(emails.length)">&nbsp;</span>
                        <span class="glyphicon glyphicon-pencil pull-right" ng-click="composeEmail(null, null, null)">&nbsp;</span>
                    </h3>
                </div>
                <div class="panel-body panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    
                    <uib-accordion>
                        <!--<div ng-repeat="email in emails" >
                           <div class="panel panel-default" >
                                <div class="panel-heading">
                                    <span ng-class="getEmailStar(email)" ng-click="setEmailStar(email)"></span>
                                    <span class="panel-title" ng-class="getEmailStyle(email)">
                                        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()">
                                            <span>{{email.senderName}} : {{email.subject}}</span>
                                        </a>
                                    </span>
                                </div>
                                <div class="panel-collapse collapse" uib-collapse="!isOpen">
                                    <div class="panel-body" style="text-align: right">
                                        <span class="">{{email.unixTime | date:'HH:mm EEE d MMM'}} from {{email.senderEmail}}</span>
                                        <a href="#" ng-click="composeEmail(email.senderEmail,email.subject,null)" class="btn btn-xs replyButton">
                                            Reply <span class="glyphicon glyphicon-comment"></span>
                                        </a>
                                        <hr>{{email.content}}
                                        <br><a ng-href={{email.url}}>Open this in Gmails's web app</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>-->
                        <uib-accordion-group heading="{{email.subject}}" ng-repeat="email in emails">
                            {{email.content}}
                        </uib-accordion-group>
                    </uib-accordion>
                    
                    <span class="text-center">
                        <span class="hidden" id="loadMoreEmailsButton" ng-click="getEmails(emails.length +10-0)">
                            <span class="btn btn-xs btn-default"> Load More <span class="glyphicon glyphicon-refresh"></span></span>
                        </span>
                    </span>
                </div>
            </div>
            
 

                
            
        </div>
        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button btn-xs" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Compose</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="to" class="control-label">To:</label>
                                <input type="email" class="form-control" id="emailTo">
                            </div>
                            <div class="subject">
                                <label for="subject" class="control-label">Subject:</label>
                                <input type="text" class="form-control" id="emailSubject">
                            </div>
                            <div class="message">
                                <label for="message" class="control-label">Message:</label>
                                <textarea class="form-control" id="emailMessage"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button type="button" class="btn btn-primary" id="sendEmailBtn" ng-click="sendEmail()">
                            Send message <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </div>
                    
                    <div class="alert alert-dismissible alert-success fade in hideAlert" id="emailSentSuccess">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Your email was sent successfully.
                    </div>
                    <div class="alert alert-dismissible alert-success fade in hideAlert" id="emailSentError">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Error: Your email could not be sent.
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
</body>

</html>