doctype html
html(lang="en")
  head    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src="/ajax.js")
    script(src="/rss.js")
    script(src="/location.js")
    title Your Space
    link(rel='stylesheet', type='text/css', href="/style.css")
  body
    br
    #rss
        .dropdown
          button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
            | Rss Feeds 
            span.caret
          ul.dropdown-menu
            li
              a#rte RTE
            li
              a#bbc /r/Gaming
            li
              a#cnn CNN
        #title.title
        #rssFeed.scroll