<html ng-app="profile">

<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.css" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.js"></script>
    <script>
        "use strict";
        var profile = angular.module('profile', ['ngAnimate','ui.bootstrap']);
        profile.controller('mainController', function ($scope, $http)
        {
            $scope.profile = {};
            $scope.getDetails = function()
            {
                //http post()
                $http.post('/getUserDetails', JSON.stringify(
                {
                    //
                })
                ).success(function(data)
                {
                    console.log("Server returned:");
                    console.dir(data);
                    $scope.profile = data;
                    
                }).error(function(data, status){
                    console.error("An error occured. Server returned: ");
                    console.dir(data);
                });
            }
            $scope.saveDetails = function()
            {
                var profile = $scope.profile;
                $http.post('/saveUserDetails', JSON.stringify(profile)
                ).success(function(data)
                {
                    console.log("Saved:");
                    console.dir(data);
                }).error(function(data, status){
                    console.error("An error occured. Server returned: ");
                    console.dir(data);
                });
            }
        });
    </script>
</head>

<body ng-controller="mainController" class="container">
    <div class="col-xs-12">
        <div class="panel panel-default" ng-init="getDetails()">
            <div class="panel-body">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Your Profile</legend>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="inputEmail" class="col-xs-2 col-md-2 control-label">Name</label>
                                <div class="col-xs-10 col-md-10">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="profile.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-xs-2 col-md-2 control-label">Email</label>
                                <div class="col-xs-10 col-md-10">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Your name" ng-model="profile.email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-md-2 control-label">Add account</label>
                                <div class="col-xs-10 col-md-10">
                                    <img class="col-xs-2 col-md-2 img-responsive" ng-hide="profile.hasFacebook" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png"
                                    alt="Facebook" />
                                    <img class="col-xs-2 col-md-2 img-responsive" ng-hide="profile.hasGoogle" src="http://vignette2.wikia.nocookie.net/logopedia/images/d/d2/Google_icon_2015.png/revision/latest?cb=20150902024016"
                                    alt="Google" />
                                    <img class="col-xs-2 col-md-2 img-responsive" ng-hide="profile.hasGithub" src="http://defunkt.io/blacktocat.png" alt="Github" />
                                    <img class="col-xs-2 col-md-2 img-responsive" ng-hide="profile.hasReddit" src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Reddit-icon.png"
                                    alt="Reddit" />
                                    <img class="col-xs-2 col-md-2 img-responsive" ng-hide="profile.hasInstagram" src="http://www.democrathotsprings.com/Instagram-icon-small.png"
                                    alt="Instagram" />
                                    <img class="col-xs-2 col-md-2 img-responsive" ng-hide="profile.hasTwitter" src="http://vignette4.wikia.nocookie.net/simpsons/images/1/11/Twitter_bird_icon.png/revision/latest?cb=20111228065136"
                                    alt="Twitter" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <div class="form-group">
                                <label for="inputEmail" class="col-xs-2 col-md-2 control-label">Profile Picture</label>
                                <div class="col-xs-10 col-md-10">
                                    <img ng-src="{{profile.imageURL}}" class="img-thumbnail" alt="Profile pic">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="profile.imageURL">
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <uib-accordion close-others="true">

                                <uib-accordion-group heading="To change your password open this" panel-class="panel-warning">
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-xs-2 col-md-2 control-label">Password</label>
                                        <div class="col-xs-10 col-md-10">
                                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword" class="col-xs-2 col-md-2 control-label">Password</label>
                                        <div class="col-xs-10 col-md-10">
                                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">

                                        </div>
                                    </div>
                                </uib-accordion-group>

                                <uib-accordion-group heading="To completely delete your account open this" panel-class="panel-danger">
                                    <strong>Caution: This action cannot be undone. Proceed with caution</strong>
                                    <br>
                                    <button class="btn btn-danger">Delete</button>
                                </uib-accordion-group>

                            </uib-accordion>
                        </div>

                    </fieldset>
                    <div class="form-group">
                        <div class="text-center">
                            <button class="btn btn-default">Cancel</button>
                            <button class="btn btn-primary" ng-click="saveDetails()">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>

</html>