<html ng-app="stocks">
<head>
	<style>
		.mainStockDiv
		{
			display: inline-block;
			outline: #D1E0E0 solid;
		}
		.individualStock
		{
			outline: #D1E0E0 solid;
			padding: 5px;
			position: relative;
		}
		.individualStockOdd
		{
			background-color: #EEEEEE;
		}
		.redStockText
		{
			color: red;
		}
		.greenStockText
		{
			color: green;
		}
		.closeIndStock
		{
			font-size: 1em;
			position: absolute;
			top: 3px;
			right: 3px;
		}
		.newStockForm
		{
			margin-bottom: 0px;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-touch.js"></script>
	<script>
	var stocks = angular.module('stocks', ['ngTouch']);
	stocks.controller('mainController', function ($scope, $http, $interval)
	{
		$scope.getStock=function()
		{
			var i = 0;
			for (i = 0; i < $scope.multiStocks.length; i++)
			{
				if( $scope.multiStocks[i].symbol.toUpperCase() == $scope.wantedStock.toUpperCase())
				{
					alert("already there");
					//TODO small notficaion to say stock is already shown
					return;
				}
			}
			console.log("entered getStock");
			$http.post('/stocks', JSON.stringify({target: $scope.wantedStock}))
			.success(function(data){
			//console.dir(data);
			if (data.lastTradePriceOnly !== null)
			{
				var i = 0;
				var isInserted = false;
				for (i = 0; i < $scope.multiStocks.length; i++)
				{
					if ( (data.symbol).localeCompare($scope.multiStocks[i].symbol) < 0 )//if it is ahead of where it should be
					{
						$scope.multiStocks.splice(i, 0, data);
						isInserted = true;
						break;
					}
				}
				if (!isInserted)
				{
					$scope.multiStocks.splice(i, -1, data);//put it in the last slot
				}
				$scope.wantedStock = "";
			}
			else 
			{
				data.symbol += " not found";
				data.lastTradePriceOnly = "";
				data.change = "";
				$scope.multiStocks.push(data);
				//for now just adds <stock name> not found to stocks
				//TODO small notficaion to say stock wasn't found
				$scope.wantedStock = "";
			}
			}).error(function(data){
				console.error("An error occured on the server when adding stock "+$scope.wantedStock+". Server returned: ");
				console.dir(data);
			});
		};
		$scope.updateStock = $interval(function()
		{
			var i=0, j=0;
			var results = [];
			for (i = 0; i < $scope.multiStocks.length; i++)
			{
				//console.dir($scope.multiStocks[i]);
				$http.post('/stocks', JSON.stringify({target: $scope.multiStocks[i].symbol}))
				.success(function(data){
					results.push(data);
					j++;
					if(j == $scope.multiStocks.length)
					{
						results.sort(function(a,b)//sorts stocks into alphabetical order based on symbol
						{
							return (a.symbol).localeCompare(b.symbol);
						});
						//console.dir(results);
						$scope.multiStocks = results;
						console.log("updated");
						//$scope.$apply();
					}
				}).error(function(data){
					console.error("An error occured on the server when updating stock "+$scope.multiStocks[i].symbol+". Server returned: ");
					console.dir(data);
				});
			}
			
		}, 30000);//Updates stocks every 30 seconds
		
		$scope.getMultStock=function()
		{
			console.log("entered getMultStock");
			$http.post('/multStocks', null)
			.success(function(data){
			//console.dir(data);
			$scope.multiStocks = data
			}).error(function(data){
				console.error("An error occured on the server when adding multiple stocks. Server returned: ");
				console.dir(data);
			});
		};
		
		$scope.setStockClass = function (input) {
			input = input - 0;
			if (input < 0) 
			{
				return  "redStockText";
			}
			else if (input >= 0)
			{
				return "greenStockText";
			}
		}	
	});
	
	</script>
</head>
<body ng-controller="mainController" >
	<div ng-init="getMultStock()" class="mainStockDiv"><!-- calls getMultStock() on load-->

		<div ng-repeat="multiStock in multiStocks track by multiStock.symbol | orderBy: 'symbol' "  ng-class="{'individualStockOdd': $odd, 'individualStock': true}" >
		<!-- Add this to above line to enable swipe to delete ng-swipe-left="multiStocks.splice($index,1)" ng-swipe-right="multiStocks.splice($index,1)"-->
			<span ng-click="multiStocks.splice($index,1)" class="closeIndStock"> X </span>
			<div>Stock: {{ multiStock.symbol | uppercase}}</div><!--filter formats to uppercase-->
			<div>Price: {{ multiStock.lastTradePriceOnly | currency:"$" }}</div><!--filter formats to currency-->
			<div ng-class="setStockClass(multiStock.change)">Change: {{ multiStock.change | currency:"$" }}</div><!--chooses which style to apply-->
		</div>
		
		<form ng-submit="getStock()" class="newStockForm">
			<input type="text" pattern="[A-Za-z].{1,6}" title="Can only contain between 2 and 7 letters" ng-model="wantedStock" placeholder="Add another stock">
			<button>Check</button>
		</form>
	</div>
</body>
</html>