<html ng-app="stocks">
<head>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.css" />
	<style>
		
		.redStockText
		{
			color: red;
		}
		.greenStockText
		{
			color: green;
		}
        .stockForm
        {
            margin-bottom: 0px;
        }
	   .individualStock
		{
			margin-bottom: 8px;
            padding: 5px;
		}
        .pointer
        {
            cursor: pointer;
        }
	</style>
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-touch.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script>
    "use strict";
	var stocks = angular.module('stocks', ['ngTouch']);
	stocks.controller('mainController', function ($scope, $http, $interval)
	{
        $scope.checkStock=function()
        {
            for (let i = 0; i < $scope.stocks.length; i++)
			{
				if( $scope.stocks[i].symbol.toUpperCase() == $scope.wantedStock.toUpperCase())
				{
					alert("already there");
					//TODO small notficaion to say stock is already shown
					return;
				}
			}
            var symbols = []
            for (let j = 0; j < ($scope.stocks.length); j++)
            {
                symbols.push($scope.stocks[j].symbol);
            }
            symbols.push($scope.wantedStock.toUpperCase());
            $scope.getStock(symbols);
            $scope.wantedStock = "";
        }
        
        $scope.initialiseStocks=function()
        {
            console.log('init');
            $scope.getStock(['GOOG','AAPL']);
        }
        
		$scope.getStock=function(stockArray)
		{
			//console.log("entered getStock");
			$http.post('/getStock', JSON.stringify(
                {
                    symbols: stockArray
                })
            )
			.success(function(data){
			    console.dir(data);
			    for(var i = 0; i < data.length; i++)
                {
                    if (data[i].lastTradePriceOnly === null)
                    {
                        console.log(data[i].symbol)
                        data[i].symbol = data[i].symbol+" Not found";
                        data[i].lastTradePriceOnly = "";
				        data[i].change = "";
                    }
                }
                $scope.stocks = data;
			}).error(function(data){
				console.error("An error occured on the server when adding stock "+$scope.wantedStock+". Server returned: ");
				console.dir(data);
			});
		};
		$scope.updateStock = $interval(function()
		{
            var symbols = []
            for (let i = 0; i < ($scope.stocks.length); i++)
            {
                symbols.push($scope.stocks[i].symbol);
            }
            $scope.getStock(symbols);
            console.log("updating:");
            console.dir(symbols);
			
		}, 30000);//Updates stocks every 30 seconds
		
		$scope.setStockClass = function (input) {
			input = input - 0;
			if (input < 0) 
			{
				return  "redStockText";
			}
			else if (input > 0)
			{
				return "greenStockText";
			}
		}	
        $scope.removeStock = function (stock)
        {
            $scope.stocks.splice($scope.stocks.indexOf(stock),1);
        }
        $scope.checkStock = function()
        {
            console.log("check stock")
            var valid = true;
            valid = valid && $scope.wantedStock.length > 1;
            valid = valid && $scope.wantedStock.length < 7;
            valid = valid && /^[a-z]+$/i.test($scope.wantedStock);//only allows letters
            
            if (valid === true)
            {
                $scope.wantedStock = "";
                //get that stock TODO
            }
            else
            {
                $('#stockInput').popover({
                    content: 'Stocks must be between 1 and 6 characters and contain only latin letters',
                    trigger: 'manual'
                });
                $('#stockInput').popover('show');
                setTimeout( function()
                {
                    $('#stockInput').popover('hide');
                }, 5000);
            }
            
        }
	});
	
	</script>
</head>
<body ng-controller="mainController" class="container-fluid">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="panel panel-success" ng-init="initialiseStocks()">
	        <div class="panel-heading">
                <h3 class="panel-title">Stocks
                    <span class="glyphicon glyphicon-remove pull-right"></span>
                    <span class="glyphicon glyphicon-resize-small pull-right">&nbsp;</span>
                    <span class="glyphicon glyphicon-repeat pull-right">&nbsp;</span>
                </h3>
            </div>
            <div class="panel-body panel-group">   
                <div ng-repeat="stock in stocks | orderBy: 'name' track by stock.symbol">
                <!-- Add this to above line to enable swipe to delete ng-swipe-left="multiStocks.splice($index,1)" ng-swipe-right="multiStocks.splice($index,1)"-->
                    <div class="panel panel-default">
                        <div class="panel-body individualStock"> 
                            <span ng-click="removeStock(stock)" class="closeIndStock pull-right pointer"> &times; </span>
                            <div>Stock: {{ stock.name}}</div>
                            <div>Symbol: {{ stock.symbol | uppercase}}</div><!--filter formats to uppercase-->
                            <div>Price: {{ stock.lastTradePriceOnly | currency:"$" }}<!--filter formats to currency-->
                                <span ng-class="setStockClass(stock.change)" class="pull-right">{{ stock.percentChange | number }}%<!--chooses which style to apply-->
                                    <span class="glyphicon glyphicon-arrow-up" ng-hide="stock.change < 0"></span>
                                    <span class="glyphicon glyphicon-arrow-down" ng-hide="stock.change > 0"></span>
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <form ng-submit="checkStock()" class="text-center form-group stockForm">
                    <div class="input-group">
                        <input type="text" id="stockInput" class="form-control" ng-model="wantedStock" 
                            placeholder="Add another stock"data-container="body" data-toggle="popover" data-placement="bottom" >
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go</button>
                        </span>
                    </div>
                </form>
            </div>
		    
                
            
        </div>
	</div>
</body>
</html>